/**
 * @Todo
 * 1. plugin, extends : @typescript-eslint 나중에 추가
 * 2. ignorePatterns : *.jsx, *.js 나중에 제거
 */
{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true,
        "jest": true
    },
    "root": true,
    "plugins": [/* "@typescript-eslint/eslint-plugin"*/ "prettier", "react", "react-hooks"],
    "extends": [/* "plugin:@typescript-eslint/recommended"*/ "eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended", "plugin:prettier/recommended", "plugin:import/recommended", "plugin:import/typescript"],
    "rules": {
        "no-unused-vars": "off",
        "comma-dangle": ["error", "never"],
        "prettier/prettier": "error",
        "react/prop-types": "off",
        "react/jsx-sort-props": [
            "error",
            {
                "ignoreCase": true,
                "shorthandLast": true,
                "callbacksLast": true,
                "reservedFirst": true
            }
        ],
        "eqeqeq": "warn"
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src"]
            }
        }
    },
    "ignorePatterns": ["sitemap/", "cloudfront/", "eslint/", "*.jsx", "*.js"]
}
